[submodule ".registry"]
	path = .registry
	url = https://github.com/louisaslett/louisaslett.r-universe.dev
	branch = HEAD
[submodule "BrownianMotion"]
	path = BrownianMotion
	url = https://github.com/louisaslett/BrownianMotion
[submodule "PhaseType"]
	path = PhaseType
	url = https://github.com/louisaslett/PhaseType
[submodule "ReliabilityTheory"]
	path = ReliabilityTheory
	url = https://github.com/louisaslett/ReliabilityTheory
[submodule "fhe"]
	path = fhe
	url = https://github.com/louisaslett/fhe
[submodule "maths.genealogy"]
	path = maths.genealogy
	url = https://github.com/louisaslett/maths.genealogy
[submodule "mlmc"]
	path = mlmc
	url = https://github.com/louisaslett/mlmc
[submodule "stors"]
	path = stors
	url = https://github.com/ahmad-alqabandi/stors
